*{
    background-color: none;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: #e3e9f7;
}

/* ----------------------------------------------------------------------- */
/* Top Sidebar */

.navbar{
    background-color: #e3e9f7;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 20px 25px;
}

.backban {
    text-decoration: none;
    color: #000000;
}

.logo img{
    position: relative;
    top: 10px;
    padding: 0 0 0 0;
    width: 40px;
    height: auto;
}

.icon img{
    padding: 0 10px 3px 10px;
    margin: 0 0 0 5px;
    height: 25px;
    width: auto;
}

.topnav ul, .bottomnav ul{
    margin: 0;
    padding: 0;
    width: 260px;
    position: fixed;
    Left: 0;
    z-index: 5;
    border-right-style: solid;
    border-color: lightgray;
    background-color: #e3e9f7;
    transform: translateX(0);
}

.topnav ul{
    height: 100%;
    top: 0;
}

.bottomnav ul{
    bottom: 0;
}

.topnav ul li, .bottomnav ul li{
    list-style: none;
}


.navitem:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: lightgray;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 300ms ease-in-out;
}



.topnav ul li a:hover::before, .bottomnav ul li a:hover::before{
    width: 95%;
}

.navitem {
    padding: 15px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px 0 10px 10px;
    color: #000000;
    position: relative;
    text-decoration: none;
}


/* Mobile toggle */
.nav-toggle {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}


/* ------------------------------------------------------------------------------- */
/* Main Body */

.wrapper{
    margin-left: 260px;
    margin-top: -70px;
}

.topsell{
    padding-left: 60px;
    padding-top: 60px;
}

/* Top Section------------------------------------------------------------------- */

.topsell .topsection{
    margin-right: 55px;
}

.topsell .topsection h2{
    font-size: 30px;
}

.topsell .topsection ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    /* flex-wrap: wrap; */
    gap: 20px;
}

.topsell .topsection ul li{
    list-style: none;
    font-weight: 550;
    /* padding: 0 10px; */
}

.topsell .topsection ul .T{
    flex: 1.5;
    padding-left: 20px;
}

.topsell .topsection ul .G{
    flex: 2;
    min-width: 50px;
}

.topsell .topsection ul .DP {
    margin-right: 60px;
    display: flex;
    gap: 50px;
    flex-shrink: 0;
}

/* Top Seller Games ------------------------------------------------------------------------------ */

.topsell .game{
    margin-right: 55px;
    border-top-style: solid;
    border-color: rgb(211, 211, 211);
    margin-bottom: 5px;
}

.topsell .game a{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-right: 20px;
}

.topsell .game a h3{
    margin-left: 20px;
}

.topsell .game a img{
    height: 100px;
    width: 100px;
    position: relative;
}

.topsell .game a ul{
    margin-left: 30%;
    position: absolute;
}

.topsell .game a ul li{
    list-style: none;
    display: inline-block;
    background-color: #e3e9f7;
    padding: 3px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170, 170, 170);
}

.topsell .game a .pricebox {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 40px;
    grid-template-columns: repeat(auto-fit);
    min-width: 150px;
    justify-content: space-between;
}


.topsell .game a .disc{
    background-color: #e3e9f7;
    padding: 3px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(170, 170, 170);
}

/* ------------------------------------------------------------------------- */
/* Loading Animation */

#preloader {
  position: fixed;
  margin-left: 150px;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e3e9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#preloader video {
  max-width: 50%;
  max-height: 50%;
}

/* ------------------------------------------------------------------------ */
/* Topbar */

.topbar {
    top: 0;
    margin-left: 260px;
    background-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 30px;
}

.three {
    display: flex;
    gap: 3px;
    margin-left: 30px;
    background-color: lightgray;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
}

.three a{
    text-decoration: none;
    color: black;
    padding: 3px 8px 3px 8px;
    border-radius: 5px;
}

.Top {
    background-color: #e3e9f7;
    z-index: 2;
}

/* ------------------------------------------------------------------------- */
/* Loading Animation */

#preloader {
  margin-left: 0;
}

/* ------------------------------------------------------------------------ */
/* Footer */

.footer{
    position: relative;
    bottom: 0;
    margin-left: 260px;
    width: calc(100% - 260px); 
    background-color: #e3e9f7;
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    border-top-style: solid;
    border-color: lightgray;
}

.footer .row{
    width:100%;
    color:gray;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row a:hover{
    color: black;
}

.footer .row img{
    height: 25px;
    width: auto;
    gap: 10px;
}


/* Genre Tags Responsive------------------------------------------------ */

@media (max-width: 1300px){
.topsell .topsection ul .G{
    flex: 1;
    min-width: 50px;
}

.topsell .game a ul{  
    margin-left: 35%;
    column-count: 2;
}    
}

@media (max-width: 1170px) {
.topsell .game a ul {
    display: none;
}

.topsell .topsection ul .G {
    display: none;
}

}




@media (max-width: 768px){
/* Navigations-------------------------- */
h2{
    margin-top: 0;
    padding: 0 5%; 
}

.topnav ul, .bottomnav ul {
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
}

.topnav ul.show, .bottomnav ul.show {
    transform: translateX(0);
}

.nav-toggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10;
    background: #e3e9f7;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.nav-toggle {
    display: block;
    margin: 10px;
}


/* Content left--------------------------------------------------- */
.wrapper, .footer, .topbar{
    margin-left: 0;
}

.wrapper{
    width: 97%;
    margin-left: 1.5%;
    justify-content: center;
}

/* Main-------------------------------------------------------------------- */

.three{
    margin-left: 0;
}

.topsell{
    padding-left: 0;
    padding-top: 0;
    width: 100%;
    display: grid;
    margin-top: 60px;
    overflow-x: hidden;
}


/* Titles */
.topsell .topsection h2{
    margin-bottom: 10px;
}

.topsell .topsection{
    margin-right: 0;
}

.topsell .topsection ul .T{
    margin-right: 50px;
}


/* Games */
.topsell .game{
    margin-right: 0;
}

.topsell .game a h3 {
    margin: 0 20px;
}

.topsell .topsection ul .DP {
    margin-right: 70px;
    gap: 40px;
}

.topsell .game a .disc{
    padding: 0;
    margin: 0;
    padding: 3px;
}

.topsell .game a .price{
    padding: 0;
    margin: 0;
}

/* Footer--------------------------------------------- */
.footer{
    width: 100%; 
    position: relative;
    bottom: 0;
}

.footer .row{
    width: 95%;
    padding: 0;
    margin: 0 auto;
    font-size: 10px;
}
}


/* Hide Navigation Burger */
@media (min-width: 769px) {
.nav-toggle {
    display: none;
}
}




@media (max-width: 450px) {
/* Home navigation bar -------------------------------------------------- */
.three {
    flex-direction: column;  
    align-items: flex-start; 
}

.three a {
    width: 100%;         
    text-align: center;
    padding: 3px 0px 3px 0;
}

/* -------------------------------------------------------------------- */
/* Stack Price */

.topsell .topsection ul .DP {
    margin-right: 20px;
    row-gap: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
}

.topsell .game a .disc{
    padding: 0;
    margin: 0;
    width: 50px;
    text-align: center;
}

.topsell .game a .pricebox {
    margin-right: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    row-gap: 10px;
    min-width: 50px;
}
}

