*{
    background-color: none;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: #e3e9f7;
}

/* ----------------------------------------------------------------------- */
/* Top Sidebar */

.navbar{
    background-color: #e3e9f7;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 20px 25px;
}

.backban {
    text-decoration: none;
    color: #000000;
}

.logo img{
    position: relative;
    top: 10px;
    padding: 0 5.5px 0 0;
    width: 40px;
    height: auto;
}

.icon img{
    padding: 0 10px 3px 10px;
    margin: 0 0 0 5px;
    height: 25px;
    width: auto;
}

.topnav ul, .bottomnav ul{
    margin: 0;
    padding: 0;
    width: 260px;
    position: fixed;
    Left: 0;
    z-index: 5;
    border-right-style: solid;
    border-color: lightgray;
    background-color: #e3e9f7;
    transform: translateX(0);
}

.topnav ul{
    height: 100%;
    top: 0;
}

.bottomnav ul{
    bottom: 0;
}

.topnav ul li, .bottomnav ul li{
    list-style: none;
}


.navitem:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: lightgray;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 300ms ease-in-out;
}



.topnav ul li a:hover::before, .bottomnav ul li a:hover::before{
    width: 95%;
}

.navitem {
    padding: 15px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px 0 10px 10px;
    color: #000000;
    position: relative;
    text-decoration: none;
}


/* Mobile toggle */
.nav-toggle {
  display: none;
  font-size: 26px;

  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}


/* ------------------------------------------------------------------------------- */
.wrapper{
    margin-left: 260px;
    margin-top: 40px;
    min-height: 100vh;
}

.article-body{
    padding: 0 60px;
}

.title h1, h2{
    margin: 0;
}

.articleslist{
    margin-bottom: 70px;
}

.articleslist ul li{
    list-style: none;
    border-style: solid;
    border-color: #aeaeae;
    border-radius: 20px;
    border-width: 1px;
    margin-bottom: 8px;
    min-height: 40px;
    background: rgb(228, 228, 228);
}

.articleslist ul li a{
    text-decoration: none;
    color: #000000;
    align-items: center;
    display: flex;
    min-height: 40px;
    gap: 10px;
    line-height: normal;

}

.articleslist ul li a img{
    flex-shrink: 0; 
    height: 22px;
    width: auto;
    padding: 0 10px 0 10px;
}

.answers{
    margin-bottom: 35px;
}

.answers .articles{
    margin-bottom: 40px;
}

.answers .articles h4{
    margin-bottom: 0;
}

.answers .articles p{
    margin-top: 0;
}

/* ------------------------------------------------------------------------ */
/* Footer */

.footer{
    position: relative;
    bottom: 0;
    margin-left: 260px;
    width: calc(100% - 260px); 
    background-color: #e3e9f7;
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    border-top-style: solid;
    border-color: lightgray;
}

.footer .row{
    width:100%;
    color:gray;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row a:hover{
    color: black;
}

.footer .row img{
    height: 25px;
    width: auto;
    gap: 10px;
}

@media (max-width: 768px){
/* Navigations-------------------------- */
h2{
    margin-top: 0;
    padding: 0 5%; 
}

.title h1{
    margin-right: 60px;
}

.topnav ul, .bottomnav ul {
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
}

.topnav ul.show, .bottomnav ul.show {
    transform: translateX(0);
}

.nav-toggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10;
    background: #e3e9f7;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.nav-toggle {
    display: block;
    margin: 10px;
}


/* Content left--------------------------------------------------- */
.wrapper, .footer{
    margin-left: 0;
}

.wrapper{
    width: 100%;
    justify-content: center;
}

.article-body{
    padding: 0 30px;
}

ul{
    padding: 0;
}


h2{
    padding: 0;
}

/* Footer--------------------------------------------- */
.footer{
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer .row{
    width: 95%;
    padding: 0;
    margin: 0 auto;
}
}


/* Hide Navigation Burger */
@media (min-width: 769px) {
.nav-toggle {
    display: none;
}
}
