*{
    background-color: none;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: #e3e9f7;
}

/* ----------------------------------------------------------------------- */
/* Top Sidebar */

.navbar{
    background-color: #e3e9f7;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 20px 25px;
}

.backban {
    text-decoration: none;
    color: #000000;
}

.logo img{
    position: relative;
    top: 10px;
    padding: 0 5.5px 0 0;
    width: 40px;
    height: auto;
}

.icon img{
    padding: 0 10px 3px 10px;
    margin: 0 0 0 5px;
    height: 25px;
    width: auto;
}

.topnav ul, .bottomnav ul{
    margin: 0;
    padding: 0;
    width: 260px;
    position: fixed;
    Left: 0;
    z-index: 5;
    border-right-style: solid;
    border-color: lightgray;
    background-color: #e3e9f7;
    transform: translateX(0);
}

.topnav ul{
    height: 100%;
    top: 0;
}

.bottomnav ul{
    bottom: 0;
}

.topnav ul li, .bottomnav ul li{
    list-style: none;
}


.navitem:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: lightgray;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 300ms ease-in-out;
}



.topnav ul li a:hover::before, .bottomnav ul li a:hover::before{
    width: 95%;
}

.navitem {
    padding: 15px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px 0 10px 10px;
    color: #000000;
    position: relative;
    text-decoration: none;
}


/* Mobile toggle */
.nav-toggle {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}


/* ------------------------------------------------------------------------------- */
.wrapper{
    margin-left: 260px;
    min-height: 100vh;
}

.library{
    margin: 40px 20px 0 20px;
    height: 100%;
}

.section {
    height: 100%;
}

.section h1{
    margin: 0 0 25px 30px;
    font-size: 40px;
}

/* Games----------------------------------------------------------- */

.gamelist{

    width: 95%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.gamelist .game{
    display: flex;
    border: solid, 2px, rgb(200, 200, 200);
    border-radius: 30px;
    overflow: hidden;
    background-color: #d5dbe9;
    margin-bottom: 10px;
}

.gamelist .game img{
    width: 135px;
    height: auto;
}

.gamelist .game .desc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.title .name{
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.title .dev{
    font-size: 20px;
    color: rgb(138, 138, 138);
    margin-bottom: 5px;
}

.links{
    padding: 10px;
}

.links a{
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    font-size: 25px;
}

.links .info{
    background-color: aliceblue;
    border: solid, 2px, rgb(233, 233, 233);
    border-radius: 5px;
}

.links .info:hover{
    border: solid, 2px, rgb(194, 194, 194);    
}

.links .buy{
    background-color: #8cfca3;
    border: solid, 2px, rgb(95, 238, 23);
    border-radius: 5px;
}

.links .buy:hover{
    border: solid, 2px, rgb(79, 201, 17);
}

/* ------------------------------------------------------------------------- */
/* Loading Animation */

#preloader {
  position: fixed;
  margin-left: 150px;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e3e9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#preloader video {
  max-width: 50%;
  max-height: 50%;
}

/* ------------------------------------------------------------------------ */
/* Footer */

.footer{
    margin-left: 260px;
    background-color: #e3e9f7;
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    border-top-style: solid;
    border-color: lightgray;
}

.footer .row{
    width:100%;
    color:gray;
    font-size:0.8em;
}

.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row a:hover{
    color: black;
}

.footer .row img{
    height: 25px;
    width: auto;
    gap: 10px;
}

@media (max-width: 768px){
/* Navigations-------------------------- */
h2{
    margin-top: 0;
    padding: 0 5%; 
}

.topnav ul, .bottomnav ul {
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
}

.topnav ul.show, .bottomnav ul.show {
    transform: translateX(0);
}

.nav-toggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10;
    background: #e3e9f7;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.nav-toggle {
    display: block;
    margin: 10px;
}


/* Content left--------------------------------------------------- */
.wrapper, .footer, .topbar{
    margin-left: 0;
}

.wrapper{
    width: 97%;
    margin-left: 1.5%;
    justify-content: center;
}

/* Main-------------------------------------------------------------------- */

.library{
    margin: 30px 0 0 0;
}

/* ------------------------------------------------------------------------- */
/* Loading Animation */

#preloader {
  margin-left: 0;
}

/* Footer--------------------------------------------- */
.footer{
    width: 100%; 
    position: relative;
    bottom: 0;
}

.footer .row{
    width: 95%;
    padding: 0;
    margin: 0 auto;
}
}


/* Hide Navigation Burger */
@media (min-width: 769px) {
.nav-toggle {
    display: none;
}
}

/* Make links into columns */
@media(max-width: 1020px){
.links{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 2px 10px;
}
}


@media(max-width: 500px){
.gamelist .game{
    display: flex;
    border: solid, 2px, rgb(200, 200, 200);
    border-radius: 30px;
    overflow: hidden;
    background-color: #d5dbe9;
    margin-bottom: 10px;
}

.links a {
    padding: 1px 5px;
    font-size: 20px;
}

.gamelist .game img{
    width: 100px;
    height: auto;
}

.gamelist .game .desc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.title .name{
    font-size: 20px;
}

.title .dev{
    font-size: 15px;
}
}

@media(max-width: 450px){
.gamelist .game img{
    width: 80px;
    height: auto;
}

.title .name {
    font-size: 18px;
    font-weight: bolder;
    max-width: 140px;
    min-width: 135px;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title .dev{
    font-size: 13px;

}

.title .price{
    font-size: 10px;
}

.title{
    display: flex;
    flex-direction: column;
}
}