*{
    background-color: none;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: #e3e9f7;
}

/* ----------------------------------------------------------------------- */
/* Top Sidebar */

.navbar{
    background-color: #e3e9f7;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0 20px 25px;
}

.backban {
    text-decoration: none;
    color: #000000;
}

.logo img{
    position: relative;
    top: 10px;
    padding: 0 0 0 0;
    width: 40px;
    height: auto;
}

.icon img{
    padding: 0 10px 3px 10px;
    margin: 0 0 0 5px;
    height: 25px;
    width: auto;
}

/* ---------------------------------------------------- */
/* Improved Navigation */
.topnav ul, .bottomnav ul{
    margin: 0;
    padding: 0;
    width: 260px;
    position: fixed;
    Left: 0;
    z-index: 5;
    border-right-style: solid;
    border-color: lightgray;
    background-color: #e3e9f7;
    transform: translateX(0);
}

.topnav ul{
    height: 100%;
    top: 0;
}

.bottomnav ul{
    bottom: 0;
}

.topnav ul li, .bottomnav ul li{
    list-style: none;
}


.navitem:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    background: lightgray;
    border-radius: 40px 0 0 40px;
    z-index: -1;
    transition: all 300ms ease-in-out;
}

.topnav ul li a:hover::before, .bottomnav ul li a:hover::before{
    width: 95%;
}

.navitem {
    padding: 15px 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 10px 0 10px 10px;
    color: #000000;
    position: relative;
    text-decoration: none;
}


/* Mobile view */
.nav-toggle {
  display: none;
  font-size: 26px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}


/* ------------------------------------------------------------------------------- */
/* Main Body */

.wrapper{
    margin-left: 260px;
    
}


/* Featured List -----------------------------------------------------------------------------------------*/

.wrapper .Featured{
    padding-left: 60px;
}


.featlist {
    margin-right: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.featlist .game{
    border-radius: 6px;
    width: 23.5%; 
    min-width: 174px;
}

.featlist .game a{
    text-decoration: none;
    color: black;
}

.featlist .game a p{
    margin: 0;
    margin-top: 5px;
    margin-bottom: 2px;
}

.featlist .game a .price{
    color: rgb(145, 145, 145);
    font-size: 14px;
}

.featlist .game a img{
    height: auto;
    width: 100%;    
    border-radius: 5px;
    border: solid, 2px, rgb(220, 220, 220);
    transition: 0.5;
}

.featlist .game a img:hover{
    border: solid, 2px, #aeaeae;
}

/* Recommended -----------------------------------------------------------------------------------------*/

.wrapper .Recommend{
    display: block;
    padding-left: 60px;
    padding-top: 5px;
}

.wrapper .Recommend h2{
    margin-bottom: 15px;
}

.recclist {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 20px;
}

.recclist .game{
    width: 12%; 
    min-width: 125px;
}

.recclist .game a img{
    height: auto;
    width: 100%;    
    border-radius: 5px;
    border: solid, 2px, rgb(220, 220, 220);
    transition: 0.5;
}

.recclist .game a img:hover{
    border: solid, 2px, #aeaeae;
}

.recclist .game{
    border-radius: 6px;
}

.recclist .game a{
    text-decoration: none;
    color: black;
}

.recclist .game a p{
    margin: 0;
    margin-top: 5px;
}

.recclist .game a .price{
    color: rgb(145, 145, 145);
    font-size: 14px;
}

/* ------------------------------------------------------------------------- */
/* Loading Animation */

#preloader {
  position: fixed;
  margin-left: 150px;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #e3e9f7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#preloader video {
  max-width: 50%;
  max-height: 50%;
}

/* ------------------------------------------------------------------------ */
/* Topbar */

.topbar {
    top: 0;
    margin-left: 260px;
    background-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 30px;
}

.three {
    display: flex;
    gap: 3px;
    margin-left: 30px;
    background-color: lightgray;
    padding: 2px 2px 2px 2px;
    border-radius: 5px;
}

.three a{
    text-decoration: none;
    color: black;
    padding: 3px 8px 3px 8px;
    border-radius: 5px;
}

.Reco {
    background-color: #e3e9f7;
    z-index: 2;
}

/* ------------------------------------------------------------------------ */
/* Footer */

.footer{
    margin-left: 260px;
    background-color: #e3e9f7;
    padding:10px 0px;
    font-family: 'Play', sans-serif;
    text-align:center;
    border-top-style: solid;
    border-color: lightgray;
}

.footer .row{
    width:100%;
    color:gray;
    font-size:0.8em;
    padding: 0;
}

.footer .row a{
    text-decoration:none;
    color:gray;
    transition:0.5s;
}

.footer .row a:hover{
    color: black;
}

.footer .row img{
    height: 25px;
    width: auto;
    gap: 10px;
}


/* Mobile view */
@media (max-width: 768px){

/* Navigations-------------------------- */

h2{
    margin-top: 0;
    padding: 0 5%; 
}

.topnav ul, .bottomnav ul {
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
}

.topnav ul.show, .bottomnav ul.show {
    transform: translateX(0);
}

.nav-toggle {
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 10;
    background: #e3e9f7;
    border: 1px solid lightgray;
    border-radius: 5px;
}

.nav-toggle {
    display: block;
    margin: 10px;
}
/* --------------------------------------------------- */
.wrapper, .footer, .topbar{
    margin-left: 0;
}

.wrapper{
    width: 100%;
}

.three{
    margin-left: 0;
}

/* Featured---------------------------------------------- */
.wrapper .Featured{
    padding: 0;
    justify-content: center;
    margin-bottom: 30px;
}


.featlist .game{
    width: 45%;
    min-width: 0;
}

.featlist {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}


.featlist .game a img{
    height: auto;
    width: 100%;    
}

/* Recommended---------------------------------------------------- */
.wrapper .Recommend{
    padding: 0;
    margin-bottom: 30px;
}

.wrapper .Recommend h2{
    margin-bottom: 15px;
}

.recclist {
    margin-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

.recclist .game{
    width: 20%;
    min-width: 100px;
}

.recclist .game a img{
    height: auto;
    width: 100%;    
}


/* Footer--------------------------------------------- */
.footer .row{
    width: 95%;
    padding: 0;
    margin: 0 auto;
}

}

@media (min-width: 769px) {
.nav-toggle {
    display: none;
}
}

@media (max-width: 450px) {
.three {
    flex-direction: column;  
    align-items: flex-start; 

}

.three a {
    width: 100%;         
    text-align: center;
    padding: 3px 0px 3px 0;
}
}

